@use "../../foundation/global" as *;

.c-list {
    color: $primary-color;
    

    &__title {
        @include secondary-bold;
        font-size: 2.4rem;
        a{
            padding-bottom: 32px;
            display: block;
        }
    }

    &__item {
        font-size: 2rem;
        font-weight: 400;
        a{
            padding-bottom: 20px;
        }
    }

    &__link:hover {
        opacity: .7;
    }
}


.p-sideMenu__lists {
    a {
    font-size: 2.4rem;
    @include secondary-bold;
    padding-bottom: 32px;
    display: block;
    }
} 

.p-sideMenu__subList {
    padding-left: 20px;

    a {
        padding-bottom: 20px;
        font-size: 2rem;
        font-weight: 400;
        padding-bottom: 20px;
    }
} 

