@use "../../foundation/global" as *;

//single, pageのボタン

.p-button-single {
    margin-bottom: 61px;

    @include breakpoint(s) {
        margin-bottom: 31px;
    }
}

.wp-block-button__link {
    color: inherit;
    background-color: inherit;
    padding: 0;
    font-size: inherit;
}
